.Notification {
  background-color: #fdfd96;
  min-height: 100vh;
  flex-direction: column;
}

#page {
  background-color: #fdfd96;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

#ptitle {
  color: #7845b0;
}
