.AllForums {
  text-align: center;
  background-color: #fdfd96;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page {
  background-color: #fdfd96;
  align-items: center;
  justify-content: center;
}

#ptitle {
  color: #7845b0;
  align-items: center;
  justify-content: center;
  font-size: calc(40px + 2vmin);
  text-align: center;
}
