@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  background-color: #fdfd96;
}

#body {
  height: 100%;
  background-color: #fdfd96;
}

#root {
  height: 100%;
  background-color: #fdfd96;
}

#title {
  font-family: "Mochiy Pop P One", sans-serif;
  text-align: center;
  background-color: #fdfd96;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: #7845b0;
}
